@import url(global.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.feelings-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.feelings-chips {
    all: unset;
    width: 50%;
    display: flex;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 40%;
    justify-items: center;
}

.feelings-chips button {
    background-color: #f8f5f2;
    border-radius: 1000px;
    padding: 10px 10px 10px 90px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    width: 300px;
    height: 80px;
    color: var(--primary-h1);
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    border: none;
    transition: background-color 0.3s ease; /* Added transition */
}

.feelings-chips button::before {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #a9be65;
    color: #4b332b;
    position: absolute;
    left: 5px;
    transition: transform 0.3s ease, content 0.3s ease; /* Added transitions */
}

.feelings-chips button.selected {
    /* Added selected state */
    background-color: #e7d2c4;
}

.feelings-chips button.selected::before {
    background-color: #92b6e8; /* Change the background color here */
    transform: rotate(180deg);
    content: "-";
}
