@import url(global.css);

<<<<<<< Updated upstream
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
=======
.progress-tracker {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.progress-tracker img {
    height: 30px; /* Adjust as needed */
    margin: 0 5px;
}

.prompt-header {
    font-size: 1.8em;
    margin-bottom: 20px;
>>>>>>> Stashed changes
}

.feelings-container {
    width: 100%;
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
}

.feelings-chips {
    all: unset;
    width: 50%;
    display: flex;
    justify-content: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 40%;
    justify-items: center;
}

.feelings-chips button {
    background-color: #F8F5F2;
    border-radius: 30px;
    padding: 10px 10px 10px 50px;
=======
}

.feelings-chips {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.feelings-chips button {
    background-color: #e8e2dd;
    border-radius: 20px;
    padding: 10px 20px;
>>>>>>> Stashed changes
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
<<<<<<< Updated upstream
    width: 180px;
    height: 50px;
    font-size: 1.1em;
    position: relative;
    border: none;
    transition: background-color 0.3s ease; /* Added transition */
=======
    justify-content: flex-start;
>>>>>>> Stashed changes
}

.feelings-chips button::before {
    content: '+';
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #A9BE65;
    color: #4B332B;
    position: absolute;
    left: 5px;
    transition: transform 0.3s ease, content 0.3s ease; /* Added transitions */
}

.feelings-chips button.selected { /* Added selected state */
    background-color: #d1c9c3;
}

.feelings-chips button.selected::before {
    background-color: #92B6E8; /* Change the background color here */
    transform: rotate(180deg);
    content: '-';
=======
    margin-right: 10px;
    font-size: 1.2em;
>>>>>>> Stashed changes
}

#submit-mood {
    background-color: #4B332B;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 30px;
    align-self: flex-end;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#submit-mood::after {
    content: '✓';
    margin-left: 10px;
}