@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url(../assets/fonts/Nunito-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

/* Global styles for the entire html document scope */
:root {
    /* CSS Variables/Properties used for common styles i.e: colors */
    --primary-bg: hsla(30, 30%, 96%, 1);
    --secondary-bg: hsla(25, 67%, 87%, 1);

    --primary-fg: hsla(24, 12%, 41%, 1);
    --primary-h1: hsla(16, 27%, 23%, 1);

    /* Emotions colors */
    --happy-color: hsla(74, 41%, 57%, 1);
    --happy-color-light: hsla(74, 61%, 78%, 1);

    --sad-color: hsla(215, 65%, 74%, 1);
    --sad-color-light: hsla(215, 88%, 84%, 1);

    --angry-color: hsla(7, 89%, 62%, 1);
    --angry-color-light: hsla(7, 92%, 75%, 1);

    --afraid-color: hsla(35, 74%, 63%, 1);
    --afraid-color-light: hsla(35, 97%, 77%, 1);

    --disgust-color: hsla(262, 92%, 77%, 1);
    --disgust-color-light: hsla(263, 100%, 84%, 1);

    --general-shadow: 0px 1px 20px 0px hsla(24, 12%, 41%, 0.2);

    --general-border: 3px solid hsla(24, 27%, 23%, 0.08);
}

html {
    margin: 0;
    min-height: 100%;
}
body {
    font-family: "Nunito", sans-serif;
    padding: 15px;
    background-color: var(--primary-bg);
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--secondary-bg);
    box-shadow: var(--general-shadow);
    height: 80vh;
    border: var(--general-border);
    border-radius: 25px;
    padding: 20px;
    transition: background-color 0.2s ease-in-out;
}

/* Navigation Header */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
#of-icon {
    width: fit-content;
}
.account-icon {
    all: unset;
    cursor: pointer;
    height: 100%;
}

.account-icon img {
    width: fit-content;
    border: var(--general-border);
    border-radius: 1000px;
}
/* ***************** */
