@import url(global.css);

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 900px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: var(--general-shadow);
}

.left-section {
    padding: 40px;
    width: 50%;
}

.logo img {
    width: 50px;
}

.title {
    font-size: 28px;
    color: #5a4231;
    margin: 10px 0;
}

.description {
    font-size: 16px;
    color: #5a4231;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background: #5a4231;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background: #3d2c21;
}

.right-section {
    width: 50%;
}

.right-section img {
    width: 100%;
    height: auto;
    display: block;
}
